<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Knowledge Builder</title>
	<style>
	H1 {color:blue;}
	p {color:purple;}
	h3 {color:#166C09;}
	</style>
  </head>

  <body>
	<H1>Knowledge Builder</H1>
	<P>
	<BR>

<button onclick="start()">Test Websocket</button>
<br/>
<label for="Ans">System message:</label>
	<br/>
	<textarea style="width:1000px; height:50px; font-size:15px;" rows="30" cols="100" id="lbl" name="lbl" readonly>
{{message}}
	</textarea>
<hr>

<h3> Upload text file </h3>
    <label for="file-upload">Upload document file (.txt) for building Knowledge Base</label>
<form id='form1' method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name='file-upload'>Upload file</button>
  </form>

{% if preview %}
	<label for="rawtext">Text Preview:</label>
	<br/>
	<textarea id="rawtext" rows="10" cols="100">
	{{preview}}
	</textarea></p>
{% endif %}


File saved path: <div id="filename">{{filename}}</div>
<br/>
Model saved path: <div id="modelname">{{modelname}}</div>
<button style="width:175px; height:30px; font-size:15px;" onclick="load_file(document.getElementById('modelname').innerText)" >Load this model</button><div id="mod_status"></div>

<hr>
<h3> Ask a question </h3>
<label for="text">Input Question:</label>
<input style="width:1000px; height:30px; font-size:15px;" type="text" id="query-text" name="query-text">
<button style="width:75px; height:30px; font-size:15px;" onclick="query(document.getElementById('query-text').value)" >Query</button>

    <P>
	<label for="ans">Answer:</label>
	<br/>
	<textarea style="width:1000px; height:30px; font-size:15px;" rows="30" cols="100" id="answer" readonly>
	</textarea>
	
    <p>

<hr>
<h3> Find specific Subject and/or Predicate and/or Object </h3>
<label for="text">Input Subject:</label>
<input style="width:300px; height:30px; font-size:15px;" type="text" id="subject" name="subject">
<br/>
<label for="text">Input Predicate:</label>
<input style="width:300px; height:30px; font-size:15px;" type="text" id="predicate" name="predicate">
<br/>
<label for="text">Input Object:</label>
<input style="width:300px; height:30px; font-size:15px;" type="text" id="object" name="object">
<br/>
<button style="width:175px; height:30px; font-size:15px;" onclick="send_triplet(document.getElementById('subject').value,
										document.getElementById('predicate').value,
										document.getElementById('object').value)" >Find</button>
<br/>
<p>
<label for="ans1">Answer:</label>
<br/>
<textarea style="width:1000px; height:300px; font-size:15px;" rows="100" cols="120" id="matched_triplets" readonly>
</textarea>

<script>
    var socket = new WebSocket('ws://' + window.location.host + '');
 
    socket.onopen = function open() {
      console.log('WebSocket connection created.');
    };
 
    socket.onmessage = function message(event) {
      	console.log("data from socket:" + event.data);
	msg = JSON.parse(event.data);
	switch(msg.label) {
	case "msg":
		lbl.innerText = msg.text;
		break;
	case "query":
		answer.innerText = msg.text;
		break;
	case "model_status":
		mod_status.innerText = msg.text;
		break;
	case "triplet":
		matched_triplets.innerText = msg.text;
		break;
};
    };
 
    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
    function start()
    {
      socket.send('{"text": "Websocket working!", "label":"msg"}');
    }
    function stop() {
      socket.send('{"text": "stop", "label":"msg"}');
    }
function query(text) {
        socket.send('{"text": "' + text + '", "label":"query"}');
    }
function load_file(filename) {
        socket.send('{"text": "' + filename+ '", "label":"filename"}');
    }
function send_triplet(subject, predicate, object) {
	socket.send('{"text": "' + subject + '@' + predicate + '@' + object + '", "label":"triplet"}');
    }

</script>
</html>

