<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Knowledge Builder</title>
  </head>

  <body>
	<H1>Knowledge Builder</H1>
	<P>
	<BR>
<hr>

<label for="message">System message:</label>
<br/>
<textarea id="message" rows="3" cols="100">
{{message}}
</textarea>
<hr>

<h3> Upload text file </h3>
    <label for="file-upload">Upload document file (.txt) for building Knowledge Base</label>
<form id='form1' method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name='file-upload'>Upload file</button>
  </form>

{% if preview %}
	<label for="rawtext">Text Preview:</label>
	<br/>
	<textarea id="rawtext" rows="10" cols="100">
	{{preview}}
	</textarea></p>
{% endif %}

{% if filename %}
	Current file: {{filename}}
{% endif %}

<hr>
<h3> Ask a question </h3>
<label for="text">Input Question:</label>
<form id='form2' method="POST" enctype="multipart/form-data">
{% csrf_token %}
<input style="width:1000px; height:30px; font-size:15px;" type="text" name="query-text">
<button style="width:75px; height:30px; font-size:15px;" type="submit" name='query'>Query</button>
</form>

    <P>
	<label for="Answer">Answer:</label>
	<br/>
	<textarea style="width:1000px; height:30px; font-size:15px;" rows="30" cols="100" id="Answer" name="Answer" readonly>
	{{ans}}
	</textarea>
	
    <p>

<script>
    var socket = new WebSocket('ws://' + window.location.host + '');
 
    socket.onopen = function open() {
      console.log('WebSocket connection created.');
    };
 
    socket.onmessage = function message(event) {
      console.log("data from socket:" + event.data);
      lbl.innerText = event.data;
    };
 
    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
    function start()
    {
      socket.send('start');
    }
    function stop() {
        socket.send('stop');
    }
  </script>

<h2>hello</h2>
 
<button onclick="start()">Start</button>
<button onclick="stop()">Stop</button>
 
<label id="lbl">Data</label>

<label for="Answer">Message:</label>
	<br/>
	<textarea style="width:1000px; height:30px; font-size:15px;" rows="30" cols="100" id="Answer" name="Answer" readonly>
	{{lbl.innerText}}
	</textarea>
	
